@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSans-Light.woff2')format('woff2'),
    url('../font/NotoSans-Light.woff')format('woff');
    font-weight:normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserat';
    src: url('../font/Montserrat-Light.woff2') format('woff2'),
         url('../font/Montserrat-Light.woff')format('woff');
    font-weight:normal;
    font-style: normal;
}
html{
    font-size: 18px;
    scroll-behavior: smooth;
    margin-right: 0;
}

body{
    font-family: 'NotoSans';
    background-color: #ffffff;
    margin-right: 0px;
}
header {
    background-color:#e3d4cf;
    font-family: 'Montserat';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    
}
header nav ul{
    display: flex;
    margin: 0;
    padding: 10px;
    list-style: none;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 50px;
    display: block;
    transition: color 0.5s;
}
.menu a {
    color:black;
}
nav a:hover{
    color:#ffffff;
}
.logo{
    padding: 10px;
    margin-left: 20px;
    padding-left: 30PX;
}
.login a{
    text-decoration: none;
    list-style: none;
    color: black;
    padding-right:20px ;
    transition: color 0.5s;
}
.login :hover{
    color:#ffffff;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: auto;

}
footer{
    background-color: #e3d4cf;
    margin: 0px;
    text-align: center;
    padding-top: 40px;
}
footer a {
    text-decoration: none;
    color: black;
    font-size: 'NotoSans';
    font-size: 16px;
    transition: color 0.5s;
}
footer h3{
    font-size: 24px;
    color: #5a5452;
}
.image_rs{
    margin-top: 0px;
    margin-bottom: 20px;
    justify-content: center;
    padding-left: 8px;
}
.top_footer{
    display: flex;
    justify-content: center;
}

.menu_footer{
    display: flex;
    padding-left: 0px;
    justify-content: center;
    align-items: flex-start;
}
.menu-top-footer{
    display: flex;
    justify-content: center;
}
.menu-top-footer, p{
    margin: 0px;
}
.menu_title{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 135px;
}
.menu-footer2{
    background-color: #5a5452;
    color: #ffffff;
    padding: 20px;
    padding-top: 30px;
}
.copyright{
    font-size: 14px;
}
main {
    padding-top: 100px;
    margin-bottom: 150px;
}

p{
    line-height: 1.5;
}
.title-users{
  margin-bottom:50px;
  font-size: 32px;
  font-weight: 700;
}
#title-c{
  margin-bottom: 30px;
  margin-top: 40px;
}
.p_profile{
    padding: 10px;
}
label{
    margin:10px;
}
#btn-modif{
    width: 210px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 0px;
    margin-top: 40px;
    box-shadow: 0 0 10px 6px #e3d4cf;
    outline: none;
    border: 0 solid;
    border-radius: 30px;
    background-color: #5a5452; 
    color: #ffffff; 
    text-decoration: none;
    display: block; 
    text-align: center; 
    
}
#btn-modif:hover {
    border: solid 1px  #353231;
    color: #353231;
    background: #f7f2f2;
}
.modif{
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center;
}
.btn-retour{
    width: 350px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 0px;
    margin-top: 40px;
    box-shadow: 0 0 10px 6px #e3d4cf;
    outline: none;
    border: 0 solid;
    border-radius: 30px;
    background-color: #5a5452; 
    color: #ffffff; 
    text-decoration: none;
    display: block; 
    text-align: center; 
}
.btn-retour:hover {
    border: solid 1px  #353231;
    color: #353231;
    background: #f7f2f2;
    transition: 0.6s;
}
.custom-margin-left {
    margin-left: 20px;
  }

  .search-container {
    position: relative;
    width: 300px;
    margin-left: 270px;
  }
  
 .search-input {
    width: 250px;
    padding: 12px 50px 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    background: none;
  }
  
  .search-btn {
    position: absolute;
    top: 50%;
    right: 37px;
    transform: translateY(-50%);
    width: 70px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .search-btn:hover {
    transform: translateY(-50%) scale(1.2);
  }
  
  .search-btn:focus {
    outline: none;
  }

.menu .image-menu {
    display: flex;
    align-items: center;
  }
  
  .menu .image-menu a {
    margin-right: 10px;
  }
  .small-dropdown {
    width: 200px;
  }
  .fileText{
    display: flex;
}

.textImg{
    font-size: 20px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
  }
  

.add_form {
display: flex;
flex-direction: column;
align-items: center;
}


.input-group-add {
margin: 20px;

}
.submit-btn{
	width: 180px;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 0px;
    margin-top: 30px;
    margin-left: 100px;
    box-shadow: 0 0 10px 6px #e3d4cf;
    outline: none;
    border: 0 solid;
    border-radius: 30px;
    background-color: #5a5452; 
    color: #ffffff; 
    text-decoration: none;
    display: block; 
    text-align: center;
}
.submit-btn:hover{
    transition: 0.6s;
    border: solid 1px  #353231;
    color: #353231;
    background: #f7f2f2;
}
.input-field{
    padding: 10px;
    margin:10px;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.btn_filtre{
    width: 180px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 0px;
    margin-top: 40px;
    box-shadow: 0 0 10px 6px #e3d4cf;
    outline: none;
    border: 0 solid;
    border-radius: 30px;
    background-color: #5a5452; 
    color: #ffffff; 
    text-decoration: none;
    display: block; 
    text-align: center; 
    margin-left: 50px;
}
.btn_filtre:hover {
    border: solid 1px  #353231;
    color: #353231;
    background: #f7f2f2;
    transition: 0.6s;
}
#categorie{
    width:240px;
}
#prix{
    width:240px;
}
#label-filtre{
    text-decoration:wavy;
}
.dark-mode {
    background-color:#4b4b4b;
    color: #fff;
}
.dark-mode header {
      background-color: #9E9888;
}
.dark-mode footer{
    background-color: #9E9888;

}
.dark-mode .card-text{
    color:black
}

.dark-mode h5{
    color: black;
}
.dark-mode .card-text{
    color: white;
}
#a-art{
    text-decoration: none;
    font-size: 15px;
    color: black;
    margin-top: 20px;
}
#a-art:hover{
    color: #6180c6;
    transition: 0.4s;
    text-decoration: underline;
}
#quantite{
    width: 100px;
}
.btn_add_panier{
    width: 220px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 0px;
    margin-top: 40px;
    box-shadow: 0 0 10px 6px #e3d4cf;
    outline: none;
    border: 0 solid;
    border-radius: 30px;
    background-color: #5a5452; 
    color: #ffffff; 
    text-decoration: none;
    display: block; 
    text-align: center; 
    margin-left: 50px;
}
.btn_add_panier:hover {
    border: solid 1px  #353231;
    color: #353231;
    background: #f7f2f2;
    transition: 0.6s;
}
.hidden {
  display: none;
}
.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

